.width-container {
    @apply max-w-7xl mx-auto w-full px-5;
}

.h1 {
    @apply text-3xl font-bold;
    @apply lg:text-6xl;
    @apply mb-5;
}

.text-link {
    @apply font-light;
    @apply md:text-xl;
    @apply lg:text-2xl;
    @apply underline-offset-[0.25em] underline decoration-1;
}
